.app-container {
  min-height: 100vh; /* El contenedor ocupará como mínimo toda la altura de la pantalla */
  background-color: #151a50;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-image: url("./components/images/background.jpg");
  background-size: 100% 100%; /* Ajusta el tamaño de la imagen al 100% del ancho y alto del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

.Header {
  align-items: center;
  background-color: #151a50;
  border: #0e0a0a;
  color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: blink; /* Subrayar al pasar el ratón */
}

.Header-title {
  align-items: center;
  color: inherit;
  display: flex;
  font-size: 30px; /* Tamaño del título muy grande */
  font-style: bold;
  margin-right: 20px;
  text-decoration: blink; /* Subrayar al pasar el ratón */
}

.Header-title:hover {
  color: rgb(255, 255, 255);
  text-decoration: blink;
}

.Header-title h1 {
  margin: 0;
}

.Navbar {
  display: flex;
}

.Navbar-links {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.Navbar-links a:hover {
  color: rgb(182, 182, 207);
  text-decoration: blink; /* Subrayar al pasar el ratón */
}

.content {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 25px;
  justify-content: center;
  line-height: 1.75;
  margin: 1%;
  padding: 10px;
  text-align: center;
  width: 25%;
}

.content-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
  width: 7%;
}

.iconspan {
  display: inline-block;
}

.language-selector {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 14px;
  margin-right: 10px;
  padding: 1px;
}

.language-selector:hover,
.language-selector:focus {
  border-color: #0056b3; /* Cambia el color del borde al pasar el ratón o enfocar */
}

.language-selector option {
  background-color: #f8f9fa; /* Cambia el color de fondo de las opciones */
}

.login-link {
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 14px;
  margin-right: 14px;
  text-decoration: none;
}

.overtext {
  font-size: 16px;
  margin: 0;
}

.picture {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.quienes-somos {
  background-color: #e9fce9; /* Verde claro */
  border-radius: 1000px;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
}

.star {
  height: auto;
  width: 5%;
}

.bluebox {
  background-color: #9fd3c7;
  border-radius: 8px;
  color: black;
  display: inline-block;
  margin-top: 15px;
  max-width: 75%;
  padding: 20px;
  position: relative;
  width: 75%;
}

.hstar {
  height: auto;
  width: 2.5%;
}

.button {
  border: 2px solid #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 auto; /* Centro horizontalmente */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 200px; /* Establece el ancho máximo */
}

/* Estilos cuando se pasa el ratón por encima */
.button:hover {
  background-color: #45a049;
}

.footer {
  margin-top: auto; /* Esto empujará el footer al final de la página */
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin: 0 auto; /* Centra horizontalmente */
  width: 100%; /* Opcional: asegura que ocupe todo el ancho */
}

.banner-container {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-content {
  position: absolute;
  bottom: 10px; /* Ajusta la posición vertical del texto */
  right: 0.7%;
  text-align: center;
  color: #f3f3f8;
  font-style: oblique;
}

.banner-title {
  font-size: 4rem; /* Tamaño de fuente muy grande para el título */
  margin-bottom: 40px;
}

.banner-text {
  font-size: 2rem; /* Tamaño de fuente grande para el texto */
}
.toggle-menu-btn {
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-menu-btn:hover {
  color: #007bff;
}
