/* eventgeneric.css */

.event-generic-container {
  margin: 0 auto;
  max-width: 1200px; /* Control the maximum width to ensure readability */
}

.heading {
  text-align: center;
  color: #1a202c; /* Dark gray for better readability */
  font-size: 2rem; /* Larger font size for headings */
  margin-bottom: 20px; /* Space below the heading */
}

.event-container,
.event-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Slightly stronger shadow for depth */
  max-width: 800px;
  margin: 20px auto; /* Simplified margin declaration */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.event-container:hover,
.event-container2:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker on hover */
  transform: translateY(-5px); /* Lift effect on hover */
}

.event {
  width: 100%; /* Use 100% to make it responsive within the container */
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  opacity: 1; /* Full opacity */
}

.event img {
  width: 100%; /* Full width within the container */
  border-radius: 4px;
}

.event h2 {
  font-size: 1.5rem;
  color: #4fd1c5; /* Softer blue for a modern look */
  margin-bottom: 5px;
}

.event p {
  font-size: 1rem;
  color: #718096; /* Soft gray for paragraphs */
}

.event button {
  background-color: #4fd1c5; /* Unified color theme with h2 */
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.event button:hover {
  background-color: #38b2ac; /* Darker shade on hover */
}
