/* LoggedIn.css */
.loggedIn-container {
  width: 100%;
}

.Header {
  background-color: #1100ff; /* Azul oscuro */
  padding: 10px 20px; /* Espaciado interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-left {
  display: flex;
  align-items: center;
}

.Header-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.Header-logo {
  width: 40px; /* Ajusta el tamaño del logo */
  margin-right: 10px; /* Espaciado entre el logo y el texto */
}

.Navbar {
  display: flex;
  align-items: center;
}

.Navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Navbar-links li {
  margin-right: 20px; /* Espacio entre los elementos de la barra de navegación */
}

.Navbar-links li a {
  text-decoration: none;
  color: white;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  margin-top: 20px;
}

.center-links {
  margin-top: 40px;
}

.center-links a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
